html, body {
  margin: 10;
  padding: 0;
  font-family: 'DotGothic16';

  text-align: center;
}

.tittles {
position:absolute;
top: 40%;
right: 36%;
}

.menu {
  position: absolute;
  right: 5%;
  top: 25%;
  text-align: left;

  height: auto;
  width: 25%;

  background-color: rgba(255, 255, 255, 0.303);

  padding: 10px;

}

canvas {
  display: block;
}
