html, body {
  margin: 10;
  padding: 0;
  font-family: 'DotGothic16';

  text-align: center;
}

.titles{
position:absolute;
top: center;
right: windowWidth/2;
}

.tareas-imagenEscrita {

background-color: rgba(255, 252, 232, 0.359);
position: absolute;
top: 85%;
left: 40%;

display: grid;
grid-template-columns: 1fr;
grid-template-columns: auto;
gap: 2em;
height: 20px;
width: 200px;

}

.ejerciciosIndependientes {
  
}

canvas {
  display: block;
}
